* {
  margin: 0;
  padding: 0;
}

/* sidebar */
.sidebar {
  width: 350px;
  height: 100%;
  background-color: #000814;
  position: fixed;
}

/* title */
h1 {
  padding: 10px;
  /* margin-left: 10px; */
  color: white;
  background-color: #001934;
}

/* inputs: all contain */
.inputs {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  flex-direction: column;
}

/*input: link + icon */
.input {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 30px;
}

/* hover: written text  */
.input:hover {
  background-color: #003566;
  border-radius: 5px;
  width: 90%;
  transition: 0.5s;
}

/* icon design */
.input .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}
